img{
    width: 500px;
}
i{color: rgba(12, 155, 183, 0.777);}
body {background-color: rgb(213, 240, 11);}
h1 {font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Whisper', cursive;}
i{font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Whisper', cursive;}