p{font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Whisper', cursive;}
body{background-color: rgb(12, 232, 41);}
img{width: 500px;}